<template name="about"> {{ title 'About Us' }}
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title black-text">About Us</div>
                        <p>www.bpstreet.com (pronounced “Beep Street”) is a web application where users can input their volatility estimate of the S&P 500 index in the form of a percentage change (1.46%). Bps or basis points is a hundredth of a percent. The S&P 500 index is a market capitalization weighted index of 500 large-cap US stocks. Points are awarded based on how close a user’s estimate is to the actual percentage change on the index. Estimates can be places any time, however estimates places after the market opens will apply to the next day the market is open.</p>

                        <p>This web application was created by Rome Chopra, Sandeep Ramakabir, and Shakti Sharma, three finance students at the Johns Hopkins Business School.</p>

                        <b>Articles of Interest</b>
                        <a href="http://carey.jhu.edu/about/news/twitter-sentiment-plays-role-in-ipo-performance-new-carey-research-finds">http://carey.jhu.edu/about/news/twitter-sentiment-plays-role-in-ipo-performance-new-carey-research-finds</a>

                        <a href="http://www.baltimoresun.com/business/bs-bz-twitter-predicts-ipos-20150425-story.html">http://www.baltimoresun.com/business/bs-bz-twitter-predicts-ipos-20150425-story.html</a>

                        <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2567295">http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2567295</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
