<template name="userEstimateHistoryTable">
    <table class="striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Estimate</th>
                <th>Actual</th>
            </tr>
        </thead>
        <tbody>
            {{#each userEstimates}}
                {{> userEstimateHistoryTable_Row}}
            {{/each}}
        </tbody>
    </table>
</template>

<template name="userEstimateHistoryTable_Row">
    <tr>
        <td>{{date_to_string}}</td>
        <td>{{percent estimate}}</td>
        <td>{{actual}}</td>
    </tr>
</template>

<template name="castEstimate">
    <div class="row">
        <div class="card col s12">
            <div class="card-content">
                <div class="card-title cyan-text text-darken-3">Make an Estimate: {{calendar predictableMarketDay}}</div>
                <input type="number" placeholder="0.00" value="0.00" step="0.01" id="estimate_input" class="center-align">
                <p>Please enter your estimate for the percentage change of the next day's S&P 500 Index.</p>
            </div>
            <div class="card-action">
                <a href="#" class="submit-estimate">Submit</a>
            </div>
        </div>
    </div>
</template>
