<template name="home">
    {{#if currentUser}}
        {{> user_home}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="user_home">
    {{#if currentUserMayCastEstimate}}
        <div class="row">
            <div class="card col l4 offset-l4 m8 offset-m2 s12">
                <div class="card-content">
                    <div class="card-title cyan-text text-darken-3">Make an Estimate</div>
                    <input type="number" placeholder="1.00" value="1.00" step="0.01" id="estimate_input" class="center-align">
                    <p>The <b>S&P 500 Index</b> tracks blah blah blah. Yesterday, it was a number. And today, it will be a different number!</p>
                </div>
                <div class="card-action">
                    <a href="#" class="submit-estimate">Submit</a>
                </div>
            </div>
        </div>
    {{else}}
        <div class="container">
            <div class="row">
                <div class="card col m5">
                    <div class="card-content">Profile</div>
                </div>

                <div class="card col m6 offset-m1">
                    <div class="card-content">Profile</div>
                </div>
            </div>
        </div>
    {{/if}}
</template>
