<template name="login"> {{ title 'Log In' }}
    <div class="row">
        <div class="card col l4 offset-l4 m8 offset-m2 s12">
            <div class="card-content">
            <div class="card-title cyan-text text-darken-3">Log In</div>
            <a href="#" class="btn-large fb-btn full-width fb-login-btn">Log In With Facebook</a>
            <div class="grey-text center-align">&mdash; or &mdash;</div>
            <a href="#" class="btn-large tw-btn white-text full-width tw-login-btn">Log In With Twitter</a>
            <div class="grey-text center-align">&mdash; or &mdash;</div>
                <input type="text" placeholder="Username" id="login_un">
                <input type="password" placeholder="Password" id="login_pw">
            </div>
            <p class="grey-text">By clicking Log In, you agree to the terms and conditions listed <a href="{{pathFor 'terms'}}">here</a>.</p>
            <div class="card-action">
                <a href="{{pathFor 'register'}}">Register</a>
                <a href="#" class="submit-login right">Log In</a>
            </div>
        </div>
    </div>
</template>

<template name="register"> {{ title 'Sign Up' }}
    <div class="row">
        <div class="card col l4 offset-l4 m8 offset-m2 s12">
            <div class="card-content">
            <div class="card-title cyan-text text-darken-3">Sign Up</div>
            <a href="#" class="btn-large fb-btn full-width fb-login-btn">Sign Up With Facebook</a>
            <div class="grey-text center-align">&mdash; or &mdash;</div>
            <a href="#" class="btn-large tw-btn white-text full-width tw-login-btn">Sign Up With Twitter</a>
            <div class="grey-text center-align">&mdash; or &mdash;</div>
                <input type="text" placeholder="Username" id="login_un">
                <input type="text" placeholder="Name" id="login_nm">
                <input type="email" placeholder="Email" id="login_em">
                <input type="password" placeholder="Password" id="login_pw">
            </div>
            <p class="grey-text">By creating an account, you agree to the terms and conditions listed <a href="{{pathFor 'terms'}}" target="_blank">here</a>.</p>

            <div class="card-action">
                <a href="#" class="submit-register">Register</a>
            </div>
        </div>
    </div>
</template>
