<template name="nav">
    <div class="navbar-fixed">

        <nav class="primary-bp darken-3">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="nav-wrapper">
                <div class="brand-logo center"><a href="{{pathFor 'home'}}"><img class="logo-image" src="/img/logo.png"> bpStreet</a></div>
                <div class="left">
                    <span class="nav-ticker label {{currentStatusColor}} white-text">{{currentChange}} %</span>
                    <i class="left material-icons">{{currentStatusIcon}}</i>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{pathFor 'home'}}">Home</a></li>
                    <li><a href="{{pathFor 'scoreboard'}}">Scoreboard</a></li>
                    <li><a href="{{pathFor 'about'}}">About</a></li>
                    <li><a href="#" class="logout">Log Out</a></li>
                </ul>
            </div>
        </nav>

        <ul class="side-nav" id="mobile-demo">
            <li><a href="{{pathFor 'home'}}">Home</a></li>
            <li><a href="{{pathFor 'scoreboard'}}">Scoreboard</a></li>
            <li><a href="{{pathFor 'about'}}">About</a></li>
            <li></li>
            <li><a href="#" class="logout">Log Out</a></li>
        </ul>
    </div>
</template>

<template name="footer">
    <link href='http://fonts.googleapis.com/css?family=Quantico:400,700' rel='stylesheet' type='text/css'>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '863237960396529',
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <footer class="page-footer primary-bp">
        <div class="footer-copyright">
            <div class="container">
                © 2015 Bpstreet
                <!-- <span
                  class="fb-like right"
                  data-share="true"
                  data-width="50"
                  data-show-faces="true">
                </span> -->
            </div>
        </div>
    </footer>
</template>
