<template name="scoreboard"> {{title 'Scoreboard'}}
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">
                <table class="striped scoreboard">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>User</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                            {{> scoreboard_row}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>

<template name="scoreboard_row">
    <tr>
        <td>{{> profile_picture user=this circle=true size="1.5em"}}
            <a href="{{pathFor 'profile' userId=this._id}}">{{nameFor this}}</a></td>
        <td>{{user_points}}</td>
    </tr>
</template>
