<template name="scoreboard"> {{title 'Scoreboard'}}
    <table class="striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Estimate</th>
                <th>Actual</th>
            </tr>
        </thead>
        <tbody>
            {{#each estimates}}
                {{> scoreboardEstimateHistoryTable_Row}}
            {{/each}}
        </tbody>
    </table>
</template>

<template name="scoreboardEstimateHistoryTable_Row">
    <tr>
        <td>{{> profile_picture user=user circle=true size="1.5em"}}
            <a href="{{pathFor 'profile' userId=user._id}}">{{user.profile.name}}</a></td>
        <td>{{date_to_string}}</td>
        <td>{{percent estimate}}</td>
        <td>{{actual}}</td>
    </tr>
</template>
